{% extends "base.html.twig" %}

{% block fullcontent %}
    <div class="container">
        <div class="jumbotron">
            <h1>1. Wizard-Turnier</h1>
            <p>Hallo und willkommen bei der Plattform zum 1. Wizard-Turnier! Hier können die Teilnehmer und Spieldaten eingesehen werden.</p>
        </div>
    </div>
{% endblock %}