{% extends "base.html.twig" %}

{% block title %}Alle Teilnehmer{% endblock %}

{% block content %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th><a href="./participants?sort=name">Name <span class="caret"></span></a></th>
            <th><a href="./participants?sort=points">Punkte <span class="caret"></span></a></th>
            <th><a href="./participants?sort=status">Status <span class="caret"></span></a></th></tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            {% if participant.eliminated %}
                <tr class="danger">
            {% elseif participant.disqualified %}
                <tr class="active">
            {% elseif participant.further or participant.winner or participant.inSemifinale or participant.inFinale %}
                <tr class="success">
            {% else %}
                <tr>
            {% endif %}
                <td><a href="./participants/{{ participant.id }}">{{ participant.name }}</a> <span style="color: gray;">#{{ participant.id }}</span></td>
                <td>{{ participant.points }}</td>
                <td>
                    {% if participant.registered %}
                        Angemeldet
                    {% elseif participant.disqualified %}
                        <em>Disqualifiziert</em>
                    {% elseif participant.further %}
                        <strong>Kommt weiter</strong>
                    {% elseif participant.winner %}
                        <strong>Gewinner des Turniers!</strong>
                    {% elseif participant.eliminated %}
                        {% if participant.inFinale %}
                            Ausgeschieden (aus Finale)
                        {% elseif participant.inSemifinale %}
                            Ausgeschieden (aus Halbfinale)
                        {% else %}
                            Ausgeschieden
                        {% endif %}
                    {% elseif participant.playing %}
                        {% if participant.inFinale %}
                            Spielt im <strong>Finale</strong>
                        {% elseif participant.inSemifinale %}
                            Spielt im Halbfinale
                        {% else %}
                            Spielt in Gruppenphase
                        {% endif %}
                    {% else %}
                        <em>Unbekannt</em>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3"><em>Keine Teilnehmer vorhanden</em></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}